@import "tailwindcss";

/* @font-face는 어디 있어도 OK. 보통 이 파일 상단/중단에 둬도 됨 */
/* 우회: 400 파일을 100–500 범위에도 매핑 */
@font-face {
  font-family: "D2Coding";
  src: url("/fonts/D2Coding-Ver1.3.2-20180524.ttf") format("truetype");
  font-weight: 100 500; /* 100~500 범위를 이 파일로 */
  font-style: normal;
  font-display: swap;
}
/* Bold 파일을 600–900 범위로 매핑 */
@font-face {
  font-family: "D2Coding";
  src: url("/fonts/D2CodingBold-Ver1.3.2-20180524.ttf") format("truetype");
  font-weight: 600 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    "D2Coding",
    "Noto Sans KR",
    system-ui,
    -apple-system,
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}
button {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}
.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
