@import "tailwindcss";

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Thin.ttf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-ExtraLight.ttf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Black.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    "NotoSansKR",
    system-ui,
    -apple-system,
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}
button {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}
.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
